* {
  box-sizing: border-box;
}


.fill {
  height: 100vh;
  width: 100vw;
  background-color: #e6bcd8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-box {
  height: 80vh;
  width: 50vw;
  padding-top: 3ch;
  padding-bottom: 5ch;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  border-radius: 2%;
}

.timer {
  flex-grow: 2;
  margin-top: 3ch;
}

